Options -Indexes

RewriteEngine On

# Automatically detect current folder — NO RewriteBase needed

# If request is not already inside /public
RewriteCond %{REQUEST_URI} !public/

# Redirect all requests to /public
RewriteRule ^(.*)$ public/$1 [L,QSA]
